* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* navbar */

.navbar-hero {
    position: relative;
}

.navbar {
    height: 80px;
    width: 100%;
    padding: 20px 60px;
    margin: 0px 0px - 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 10;
}

.logo img{
    width: clamp(80px, 10vw, 150px);
    height: auto;
}

.nav-right {
    display: flex;
    gap: 5px;
}

.nav-right select{
    color: white;
    background-color: transparent;
    border: 0.2px solid rgb(146, 146, 146);
    border-radius: 2px;
}

.nav-right button {
    background-color: red;
    border-radius: 3px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;

}

@media (max-width:768px){

  .navbar{
    padding:15px 25px;
  }

}

/* hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/netflix_backround_image.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

.hero .over-lay {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.9)
);
}

.hero .hero-content {
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.content-one {
    text-align: center;
    max-width: 400px;
    height: auto;
}

.content-one h1 {
    font-size: clamp(3.5rem);
    font-weight: 900;
    margin: 0px 0px 16px;
}

.content-one p {
    font-size: clamp(1.25rem);
    font-weight: 500;
    margin: 0px 0px 32px;
}

.hero-content h3 {
    font-size: 10px;
    max-width: 400px;
    text-align: center;

}


.content-sign-in {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 16px 0px 0px;
}

.content-sign-in input {
    flex: 1;
    background: transparent;
    color: #ffffff;
    padding: 10px 16px ;
    border-radius: 2px;
    border: 0.5px solid rgb(128, 127, 127);
}

.content-sign-in button {
    padding: 0px 25px;
    background-color: red;
    border-radius: 2px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.curve {
    position: absolute;
    z-index: 4;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(
    to bottom,
    rgba(13, 13, 59, 0.6) 0%,
    rgba(31, 31, 152, 0.2) 20%,
    black 60%
);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: 3px solid rgb(233, 36, 72);
}

/* trending section */

.trending {
    padding: 0px 100px 96px;
    background-color: black;
}

.trending h4 {
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-bottom: 40px;
}

.cards-container::-webkit-scrollbar{
    display: none;
}

.card {
    position: relative;
    width: 120px;
    height: 180px;
    flex-shrink: 0;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.number {
    position: absolute;
    bottom: -10px;
    left: -20px;
    font-size: 80px;
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 2px white;
}

@media (max-width: 768px) {
    .card {
        width: 130px;
        height: 200px;
    }

    .number {
        font-size: 70px;
    }
}

/* more reason */
.more-reason h4 {
    margin-bottom: 15px;
}

.box-container {
    display: flex;
    gap: 10px;
}

.more-reason .box {
    height: 180px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(17, 17, 43), rgb(24, 24, 39), rgb(39, 21, 21));
    padding: 20px 10px;
    position: relative;
}

.box p {
    font-weight: lighter;
    font-size: 10px;
    color: rgb(189, 189, 189);
}



.icon {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/* Frequently Asked Questions */
.question h4 {
    padding-top: 30px;
}

.faq {
    max-width: 900px;
    margin: auto;
}

.faq-item {
    background: #2d2d2d;
    margin: 5px;
}

.faq-question {
    position: relative;
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.icon {
    font-size: 44px;
    font-weight: lighter;
}


.foot-login h4{
    font-size: 11px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.foot-email {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 64px;
}

.foot-email input {
    padding: 10px;
    width: 350px;
    background: transparent;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 3px;
}

.foot-email button {
    background-color: red;
    border: none;
    border-radius: 3px;
    width: 150px;
    font-size: large;
    font-weight: bold;
}

footer {
    font-size: 10px;
    color: #ffffffb3;
}


footer span,a {
    color: #ffffffb3;
}

footer ul {
    margin-top: 30px;
}

footer li {
    display: inline-block;
    width: 200px;
    padding-bottom: 10px;
}

footer select {
    background: transparent;
    margin-top: 25px;
    border-radius: 2px;
    border: 1px solid #ffffffb3;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px;
}

footer #one {
    margin-top: 30px;
    color: #ffffffb3;
}

footer #two {
    margin-top: 30px;
    color: #ffffff80;
    font-size: 9px;
}

footer #two a {
    color: blue;
}